.player_display_container {
  margin: auto;
  text-align: center;
}

.player_display_container table {
  text-align: center;
  margin: auto;
}

.player_display_container table tr td {
  background-color: white;
  border-color: black;
  border-style: solid;
  width: 30px;
  height: 30px;
}

.buttons_container {
  text-align: center;
  margin: auto;
  margin-top: 2em;
}

.buttons_container table {
  text-align: center;
  margin: auto;
}

.buttons_container table tr td button {
  width: 30vmin;
  height: 30vmin;
}

.body,
.wrapper {
  /* Break the flow */
  position: absolute;
  top: 0px;

  /* Give them all the available space */
  width: 100%;
  height: 100%;

  /* Remove the margins if any */
  margin: 0;

  /* Allow them to scroll down the document */
  overflow-y: hidden;
}

.body {
  /* Sending body at the bottom of the stack */
  z-index: 1;
}

.wrapper {
  /* Making the wrapper stack above the body */
  z-index: 2;
}
