:root {
  --background-card: rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

.player_display_container {
  padding-top: 4px;
  text-align: center;
  background-color: var(--background-card);
}

.player_display_container table {
  text-align: center;
  margin: auto;
}

.player_display_container table tr td {
  background-color: transparent;
  border-color: white;
  color: white;
  border-radius: 50%;
  border-style: solid;
  width: 30px;
  height: 30px;
  font-weight: bold;
  box-shadow: 5px 5px 70px -5px rgba(0, 0, 0, 0.75);
}

.background {
  background-image: url("img/arcade.jpeg");
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.1);
}

body {
  position: fixed;
  height: 100%;
}

html {
  overflow: hidden;
  width: 100%;
}

.wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.controlls-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-card);
}

.buttons {
  overflow-y: scroll;
  background-color: var(--background-card);
  padding: 5px;
  text-align: center;
  max-height: 5em;
  width: 100vw;
}

.game-selector {
  width: 100vw;
  height: min-content;
  text-align: center;
  display: inline;
}

.game-selector > button {
  font-size: 20px;
  margin: 5px;
  padding: 10px;
  transition: ease 0.1s;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

@media only screen and (min-width: 600px) {
  .controlls-wrapper {
    display: none;
  }

  .buttons {
    height: auto;
    overflow: hidden;
  }
}
