.controller_button {
  background-color: red;
  border-radius: 100%;
  border-color: black;
  border-width: 5px;
  width: 40vh;
  height: 40vh;
  font-size: 8vw;
}

.buttons_table {
  text-align: right;
}

.buttons_container {
  text-align: right;
  display: flex;
}
