* {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

.player_display_container {
  padding-top: 4px;
  text-align: center;
}

.player_display_container table {
  text-align: center;
  margin: auto;
}

.player_display_container table tr td {
  background-color: transparent;
  border-color: white;
  color: white;
  border-radius: 50%;
  border-style: solid;
  width: 30px;
  height: 30px;
  font-weight: bold;
  box-shadow: 5px 5px 70px -5px rgba(0, 0, 0, 0.75);
}

button {
  background-color: #262626;
  color: white;
  font-size: 12vmin;
  outline: none !important;
  border: none;
  border-radius: 20px;
  width: 28vmin;
  height: 28vmin;
  box-shadow: 5px 5px 70px -5px rgba(0, 0, 0, 0.75);
  transition: ease 0.5s;
  /* box-shadow: ; */
}

.play-btn {
  font-size: 8vmin;
  width: 20vmin;
  height: 20vmin;
}

button:active {
  box-shadow: none;
}

.wrapper {
  /* Making the wrapper stack above the body */
  z-index: 2;
}

body {
  background-color: #2e2e2e;
}

.wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.controlls-wrapper {
  width: 100vw;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.controlls {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.game-selector {
  width: 100vw;
  height: min-content;
  text-align: center;
}

.game-selector > button {
  height: min-content;
  width: min-content;
  font-size: 20px;
  margin: 5px;
  padding: 10px;
}
